<div class="modal">
    <div class="modal__content">
        <form action="/" class="form" method="post">

            <div class="form__group mb1">
                <input type="text" placeholder="Ваше имя" class=" form__control ">
                <span class="form__line"></span>
                <!-- /.form__line -->
            </div>
            <!-- /.form__group -->

            <div class="form__group mb1">
                <input type="e-mail" placeholder="Ваше e-mail" class=" form__control ">
                <span class="form__line"></span>
                <!-- /.form__line -->
            </div>
            <!-- /.form__group -->

            <div class="form__group mb1">
                <textarea name="comments-text" placeholder="Текст сообщения" class="form__control form__control_textarea"></textarea>
                <!-- /.form__control -->
                <span class="form__line">
                        
                    </span>
                <!-- /.form__line -->
            </div>
            <!-- /.form__group -->



        </form>
        <!-- /.form -->

        <button class="work__button">Войти</button>
        <!-- /.cabinet__button -->

        <ul class="modal__footer">
            <li class="modal__item">
                <span>e-mail:</span>
                <a href="mailto:info@mywebsite.ru" class="modal__link"> info@mywebsite.ru</a>
                <!-- /.signuin__link -->

                <li class="modal__item">
                    <span>тел:</span>
                    <a href="tel:+943-232-856-22" class="modal__link"> +943-232-856-22</a>
                    <!-- /.modal__link -->
                </li>
                <!-- /.modal__item -->
            </li>
            <!-- /.modal__item -->
        </ul>
        <!-- /.modal__list -->
        <button class="modal__close">
            <img src="assets/images/icons/cancel.svg" alt="Закрыть">
        </button>
        <!-- /.modal__button -->

    </div>
    <!-- /.modal__content -->
</div>
<!-- /.modal -->


<div class="modal">
    <video src="" class="modal__video" poster="https//placehold.it/420x580"></video>
    <!-- /.modal__video -->
</div>