<header class="header">
    <div class="header__row">
        <nav class="top-header__menu menu">
            <div class="menu__left">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="index.html"> class="menu__link">
                            Главная
                        </a>
                        <!-- /.menu__link -->
                    </li>
                    <!-- /.menu__item -->

                    <li class="menu__item">
                        <a href="#" class="menu__link menu__link_has-subnav">
                            Статьи
                        </a>
                        <!-- /.menu__link -->

                        <ul class="subnav">
                            <li>
                                <a href="#" class="subnav__link">
                                    Создание сайтов
                                </a>
                                <!-- /.subnav__link -->
                            </li>

                            <li>
                                <a href="#" class="subnav__link">
                                    Интернет-маркетинг
                                </a>
                                <!-- /.subnav__link -->
                            </li>

                            <li>
                                <a href="#" class="subnav__link">
                                    Продвижение видео
                                </a>
                                <!-- /.subnav__link -->
                            </li>
                        </ul>
                    </li>
                    <!-- /.menu__item -->

                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            Обо мне
                        </a>
                        <!-- /.menu__link -->
                    </li>
                    <!-- /.menu__item -->

                    <li class="menu__item">
                        <a href="#" class="menu__link">
                            Реклама
                        </a>
                        <!-- /.menu__link -->
                    </li>
                    <!-- /.menu__item -->
                </ul>
                <!-- /.menu__list -->
            </div>
            <!-- /.menu__left -->

            <div class="menu__right">
                <ul class="menu__list">
                    <li class="menu__item">
                        <a href="profile.html" class="menu__link">
                            Профиль
                        </a>
                        <!-- /.menu__link -->
                    </li>
                </ul>
                <!-- /.menu__list -->


                <form action="search.html" method="get" class="menu__search search">
                    <div class="search__input">
                        <input class="input" type="text" placeholder="Поиск по блогу">
                    </div>
                    <!-- /.search__input -->

                </form>


            </div>
            <!-- /.menu__right -->


        </nav>
        <!-- /.top-header__menu menu -->
    </div>
    <!-- /.header__row -->
</header>
<!-- /.header -->