<div class="modal">
    <div class="modal__content">

        <ul class="modal__social">
            <li class="social__item">
                <a href="#" class="social__link">
                    <img src="assets/images/icons/social/share/01.svg" alt="cоцсети">
                </a>
            </li>
            <!-- /.social__item -->

            <li class="social__item">
                <a href="#" class="social__link">
                    <img src="assets/images/icons/social/share/02.svg" alt="cоцсети">
                </a>
            </li>
            <!-- /.social__item -->

            <li class="social__item">
                <a href="#" class="social__link">
                    <img src="assets/images/icons/social/share/03.svg" alt="cоцсети">
                </a>
            </li>
            <!-- /.social__item -->

            <li class="social__item">
                <a href="#" class="social__link">
                    <img src="assets/images/icons/social/share/04.svg" alt="cоцсети">
                </a>
            </li>
            <!-- /.social__item -->
        </ul>
        <!-- /.social -->
        <button class="modal__close">
            <img src="assets/images/icons/cancel.svg" alt="Закрыть">
        </button>
        <!-- /.modal__button -->

    </div>
    <!-- /.modal__content -->
</div>
<!-- /.modal -->