<aside class="sidebar">
    <div class="sidebar__header ibg">
        <img src="assets/images/sidebar_header_bg.jpg" alt="sidebar_header_bg">
    </div>
    <!-- /.sidebar__header -->

    <div class="sidebar__content">
        <div class="profile">
            <div class="profile__avatar ibg">
                <img src="assets/images/avatar.jpg" alt="avatar">
            </div>
            <!-- /.profile__avatar -->

            <div class="profile__name">
                Максим Шипица
            </div>
            <!-- /.profile__name -->

            <div class="profile__prof">
                Блог front-end разработчика
            </div>
            <!-- /.profile__prof -->

            <div class="profile__social social">
                <a href="https://www.instagram.com/maksim_shipica_1985/" class="social__link" target="_blank">
                    <img src="assets/images/icons/social/instagram 1.svg" alt="instagram">
                </a>
                <!-- /.social__link -->
                <a href="#" class="social__link" target="_blank">
                    <img src="assets/images/icons/social/pinterest 1.svg" alt="pinterest">
                </a>
                <!-- /.social__link -->
                <a href="https://vk.com/id15950848" class="social__link" target="_blank">
                    <img src="assets/images/icons/social/vk 1.svg" alt="vk">
                </a>
                <!-- /.social__link -->
            </div>
            <!-- /.profile__social social-->

            <div class="profile__text">
                <p>
                    Trainee front-end разработчик. Начинающий вебразработчиик. Созданием сайтов занимаюсь с 2018 года. В 2018 году закончил IT-курсы по специальности frontend.
                </p>
            </div>
            <!-- /.profile__text -->
        </div>
        <!-- /.profile -->
    </div>
    <!-- /.sidebar__content -->

    <div class="sidebar__footer">
        <a href="works.html" class="btn btn_red">Мои работы</a>
        <!-- /.btn btn_red -->

        <button class="btn btn_blue" type="button">Написать мне</button>
        <!-- /.btn btn_blue -->
    </div>
    <!-- /.sidebar__footer -->
</aside>
<!-- /.sidebar -->